{% extends "base.html" %}

{% block title %}Add new file{% end %}

{% block content %}
<h1>Add new file</h1>

{% if len(errors) > 0 %}
<ul class="errors">
    {% for error in errors %}
    <li>{{ error }}</li>
    {% end %}
</ul>
{% end %}

<form  action="{{ request.path }}" enctype="multipart/form-data" method="post">
    <label for="file">Description: </label><br>
    <textarea name="file" cols="120" rows="30">{{ file }}</textarea><br>

    Attach file:&nbsp;<input type="file" name="log"><br>
    <!-- No need for xsrf token - no session to steal -->
    <input type="submit">
</form>


{% end %}