body {
    background-color: black;
    color: white;
}

.errors {
    color: #fff;
    border: red 2px solid;
    background-color: darkred;
    padding: 10px;
}

.errors li{
    list-style: none;
    line-height: 3ex;
}

td{
    padding: 10px;
}